html {
    scroll-behavior: smooth;
    scroll-padding-top: 80px; /* height of sticky header */
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: auto;
}