---
import Layout from '../layouts/Layout.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from "../constants";

const title = '404 - Page Not Found'
---

<Layout title={title}>
    <div class="container flex flex-col items-center px-4 mx-auto my-10 space-y-8 sm:px-8">
        <h1 class="text-8xl">404</h1>
        <h2 class="text-xl text-center font-serif">The page you were looking for does not exist.</h2>
        <a type="button" href="/" class="text-center text-white bg-blue-800 hover:bg-blue-950 focus:ring-4 focus:ring-blue-400 font-medium rounded-md text-md px-10 py-2 dark:bg-blue-700 dark:hover:bg-blue-800 focus:outline-none dark:focus:ring-blue-950">Go Home</a>
    </div>
</Layout>