---
import Layout from '../layouts/Layout.astro';
import { NAME } from "../constants";
import { Image } from 'astro:assets';
import ribbonAbout from '../images/Ribbon-1-About.webp';
import { Icon } from 'astro-icon/components'

const title = 'About - ' + NAME;
const description = ""; // TODO
---

<Layout title={title}, description={description}, current="about">
    <div class="container max-w-[1120px] flex flex-col mx-auto p-4">
        <Image src={ribbonAbout} alt="Ribbon About" />

        <div class="mb-20">
            <h1 class="text-3xl lg:text-5xl font-bold mt-10 mb-6">About</h1>

            <div class="flex flex-col gap-4 text-base lg:text-lg font-regular font-serif mb-6">
                <p>
                    Living in Vienna presents opportunities to pursue my interest in the many and interesting
                    relationships between music and movement. I am honing and applying my skills to be part of various
                    social contexts that have the potential to shape our interactions. My motivation stems from
                    convictions regarding the significance of embodiment - how that part of the mind that we commonly
                    refer to as 'the body' is active in every aspect of our lives. Here in Vienna I can participate as artist
                    and as educator in a variety of projects, integrating myself into an established and extensive network
                    of people with similar interests and experiences.
                </p>
                <p>
                    <a href="/compositions" class="text-blue-800 underline underline-offset-4 hover:no-underline">Composing</a> is still the core and foundation of my artistic activities.
                    I also <a href="/performances" class="text-blue-800 underline underline-offset-4 hover:no-underline">perform</a> as pianist, singer, and movement artist,
                    and I work in various capacities (such as coordinator or choreographic assistant) in other <a href="/projects" class="text-blue-800 underline underline-offset-4 hover:no-underline">projects</a>.
                </p>
                <p>
                    Prior to moving to Vienna in November 2019, I spent over two decades working in South Africa as
                    composer and lecturer at the North-West University in Potchefstroom - the city where I lived most of
                    my life, and where I studied music. I also studied composition privately in Antwerp, Belgium, with
                    <a href="https://www.wimhenderickx.com/" target="_blank" class="text-blue-800 underline underline-offset-4 hover:no-underline">Wim Henderickx</a>.

                    Milestones in my academic career were the completion of my D.Mus. in
                    Composition in 2007, my appointment as Associate Professor, and guest lectures (mainly in
                    Composition and Music Education) at tertiary institutions in South Africa, Botswana, Norway,
                    Finland, Sweden, the United States, Canada, Mexico and Panama. I was born in 1971 in Venda, the
                    northernmost part of South Africa, on the border with Zimbabwe.
                </p>
            </div>


    
            <a href="/information" class="group font-sans font-medium flex items-center w-fit space-x-2 text-blue-800 hover:underline underline-offset-8">
                <span>More detailed biographical information</span>
                <Icon class="group-hover:translate-x-1 transition duration-300 ease-in-out" name="prime--arrow-right" />
            </a>
        </div>
    </div>
</Layout>