---
import Layout from '../layouts/Layout.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from "../constants";
import { Image } from 'astro:assets';
import sectionPicture from '../images/section-picture.jpg';
// Icons managed with astro-icon + icon package (@iconify-json/ph)
import { Icon } from 'astro-icon/components'
---

<Layout title="About", description={SITE_DESCRIPTION}, current="about">
    <div class="container max-w-[1120px] flex flex-col items-start mx-auto p-4">
        <Image src={sectionPicture} alt="Section Picture" />

        <div class="mb-20">
            <h1 class="text-5xl font-bold mt-10 mb-6">About</h1>

            <p class="text-lg font-regular font-serif mb-6">
                Currently living in Vienna, Austria, I am exploring as artist, educator and life-long learner the multifaceted relationships between music and movement in a variety of processes. I delight in taking on various roles in different projects: mainly composer, and also performing musician, teacher, choreographer, movement artist and researcher. Before moving to Vienna in November 2019, I worked for more than two decades in South Africa as composer and lecturer at the North-West University in Potchefstroom.
            </p>
    
            <a href="/information" class="font-sans font-medium flex items-center space-x-2 text-blue-800 hover:underline underline-offset-8">
                <span>More Information</span>
                <!-- <Icon name="ph:arrow-right" widths=20 x-height=20/> -->
                <Icon name="prime--arrow-right" />
            </a>
        </div>
    </div>
</Layout>