---
import { NAME } from "../constants";
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import ribbonBiography from '../images/Ribbon-I-1.webp';
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";

const title = 'Biography - ' + NAME;
const description = "Biography"; // TODO
---

<Layout title = {title}, description={description} current="information">
    <div class="container max-w-[1120px] flex flex-col items-start mx-auto p-4">
        <Image src={ribbonBiography} alt="Ribbon Biography" />

        <h1 class="text-3xl lg:text-5xl font-bold font-sans mt-10 mb-8">Biography</h1>
        <a type="button" href={'/'} class="w-80 mb-12 text-center text-white bg-blue-800 hover:bg-blue-950 focus:ring-4 focus:ring-blue-400 font-medium rounded-md text-md px-5 py-2.5 me-2 dark:bg-blue-700 dark:hover:bg-blue-800 focus:outline-none dark:focus:ring-blue-950">Download Biography as PDF</a>
        <h3 class="mb-4 text-2xl font-bold">Short</h3>
        <div class="font-serif text-base lg:text-lg mb-10 space-y-8">
            <p class="">
                Hannes Taljaard is currently studying Masters in MBP/Rhythmik at the University of Music and Performing
                Arts, Vienna, pursuing his interest in the relationships between music and movement in order to be part of
                various social contexts that have the potential to shape human interactions. Living in Vienna, he can participate
                as artist in a variety of projects, and integrate himself into an established, stimulating and extensive network of
                people with similar interests and experiences. His motivation stems from his convictions regarding the
                significance of embodiment.
            </p>
            <p>
                Composing is still the core and foundation of his artistic activities. He also performs as pianist, singer, and
                movement artist. In order to structure the organisation of projects, he cofounded in 2024 the <i>allerdings</i> society,
                and a duo called <i>AMBO</i>. He hopes to work in future on the potential of MBP/Rhythmik (Music and Movement
                Education / Rhythmics) in performance and in tertiary education in Europe and South Africa.
            </p>
            <p>
                Prior to moving to Vienna in 2019, he worked for more than two decades in South Africa as composer and
                lecturer at the North-West University (NWU) in Potchefstroom where he taught various subjects from different
                fields, and regularly organised concerts and a new music festival. Milestones in his academic career were the
                completion of his D.Mus. in Composition in 2007, an appointment as Associate Professor, and guest lectures at
                tertiary institutions in Africa, Europe and the Americas.
            </p>
            <p>
                His formal musical training started in Potchefstroom, South Africa when he was seven years old: recorder, piano
                and later church organ. He progressed to studying piano at the university when he was sixteen. In the next year,
                he passed with distinction an exam in Harmony, Counterpoint an Analysis that had the same level as a
                university degree in Music Theory. He sang in choirs from an early age until 1992. He studied composition
                privately in Antwerp with Wim Henderickx and interviewed (for his masters dissertation) composition lecturers
                in England, France and Belgium. His compositions have been performed mainly in South Africa, and also in
                Europe, the USA, and Argentina, sometimes with him as performer. During his studies he worked as an
                accompanist in singing classes.
            </p>
        </div>


        <h3 class="mb-4 text-2xl font-bold">Long</h3>
        <div class="font-serif text-base lg:text-lg mb-20 space-y-8">
            <p>
                Hannes Taljaard is currently studying Masters in MBP/Rhythmik (Music and Movement Education /
                Rhythmics) at the mdw (University of Music and Performing Arts, Vienna), after completing his Bachelors at
                the mdw in MPB/Rhythmik in June 2024, with majors in Musical Improvisation and Voice & Voice Didactics.
                Living in Vienna presents opportunities to pursue his interest in the many and interesting relationships between
                music and movement. He is honing and applying his skills with the aim to be part of various social contexts that
                have the potential to shape human interactions. The motivation for this stems from his convictions regarding the
                significance of embodiment
                <ul class="list-inside list-disc">
                    <li>
                        in our everyday lives – how that part of the mind that we commonly refer to as ‘the body’ is active in
                        every aspect of our lives, and
                    </li>
                    <li>
                        in (musical) cognition – how that aspect of the mind that we commonly refer to as the body is active in
                        perceiving, thinking, learning and remembering (music).
                    </li>
                </ul>
            </p>
            <p>
                Here in Vienna he can participate as artist and as educator in a variety of artistic, artistic-didactic and didactic
                projects, integrating himself into an established, stimulating and extensive network of people with similar
                interests and experiences. His interest in multicultural processes and international cooperation has been a
                constant force during most of his life.
            </p>
            <p>
                Composing is still the core and foundation of his artistic activities. He also performs as pianist, singer, and
                movement artist, and works in various capacities (such as organiser, coordinator, consultant, or choreographic
                assistant) in other projects. In order to structure the organisation of projects, he cofounded in 2024 the
                allerdings society, and AMBO, a duo with another pianist who is – like him – a performer, movement artist,
                composer and singer. Allerdings is currently working on developing four music and movement performances.
                AMBO presented a workshop in piano improvisation at Artepiano international piano festival in Castelnuovo in
                July 2024 and will visit four universities in South Africa in February and March 2025. Hannes hopes to continue
                working on the potential of artistic, artistic-didactic and didactic applications of MBP/Rhythmik in performance
                and in tertiary education in Europe and South Africa.
            </p>
            <p>
                Prior to moving to Vienna in November 2019, he worked for more than two decades in South Africa as
                composer and lecturer at the North-West University (NWU) in Potchefstroom – the city where he lived most of
                his life, and where he studied music and languages. An important aspect of his work at NWU involved the
                organisation of several South African Music festivals, some running for a week with a repertoire consisting
                mostly of works by South African composers. During some concerts he appeared as pianist, and he presented
                several workshops and seminars for young composers at these festivals and similar events in South Africa. At
                some of these events international artists, among them the Rubio String Quartet (Belgium), Ensemble Zora
                (Switzerland), and the Duo Montagnard (USA) performed his compositions. His compositions have been
                performed mainly in South Africa, and also in Europe, the USA, and Argentina.
            </p>
            <p>
                Milestones in his academic career were the completion of a D.Mus. in Composition in 2007, an appointment as
                Associate Professor, and guest lectures (mainly in Composition and Music Education) at tertiary institutions in
                South Africa, Botswana, Norway, Finland, Sweden, the United States, Canada, Mexico and Panama. He
                facilitated visits by composers Rodrigo Sigal (Mexico) and Lucas Ligeti (Austria/USA/South Africa) to the
                NWU in Potchefstroom. His two residencies at the Centro Mexicano para la Música y las Artes Sonoras in
                Morelia Mexico were stimulating experiences that formed an important part his international activities. He
                studied composition privately in Antwerp, Belgium, with Wim Henderickx, and attended the Darmstadt
                Ferienkurse and festivals of new music in Germany and Norway. Research for his masters dissertation in
                Musicology/Music Education took him to England, France and Belgium where he interviewed composition
                lecturers.
            </p>
            <p>
                His music education started in a home environment characterised by singing, musical games and improvisation.
                Formal training (and composing) started when he was seven years old: at first recorder and music notation
                lessons, to which piano lessons and the study of music theory were soon added. He also studied church organ for
                four years. His prolific progress in harmony, counterpoint and music analysis resulted when he was seventeen in
                his passing with distinction an exam that had the same level as a university degree in Music Theory. He
                progressed to study piano at the university when he was sixteen. He sang in choirs from an early age until 1992,
                notably in the youth choir of his province and in the prestigious university choir at NWU. Both these choirs
                undertook regular tours through South Africa. During his studies at the University of the North-West he worked
                for two years as an accompanist in singing classes, also collaborating with students during concerts and
                scholarship auditions. He collaborated as performer with other musicians on various occasions in order to
                present his own pieces to the public. A non-musical activity that has hugely influenced his life, his professional
                activities and his understanding of embodiment was his participation in competitive gymnastics until he was
                seventeen.
            </p>
        </div>
    </div>
</Layout>
