---
import Layout from '../layouts/Layout.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from "../constants";

const title = 'Imprint'
---

<Layout title={title}>
    <div class="container max-w-[1120px] flex flex-col mx-auto p-4">

        <h1 class="text-3xl lg:text-5xl font-bold font-sans mt-10 mb-8">Imprint</h1>

        <div class="space-y-6 font-serif mb-16">
            <h2 class="text-xl">Information pursuant to Section 5 of the Austrian E-Commerce Act (ECG) and Section 25 of the Austrian Media Act (MedienG)</h2>

            <div>
                <h3 class="text-lg mb-2">Website Owner</h3>
                <p>Hannes Taljaard<br>
                Postgasse 14/12<br>
                1010 Vienna, Austria</p>
            </div>

            <div>
                <h3>Contact</h3>
                <p>Email: hannes (at) hannestaljaard (dot) com</p>
            </div>

            <div>
                <h3>Webdesign and Development</h3>
                <p>Damjan Prvulović</p>
            </div>

            <div>
                <h3>Liability for Content</h3>
                <p>The content of this website has been created with the greatest care. However, I cannot guarantee the accuracy, completeness, or timeliness of the content. As a service provider, I am responsible for my own content on these pages in accordance with general laws as per Section 7 Paragraph 1 ECG. However, I am not obligated to monitor transmitted or stored third-party information or to investigate circumstances indicating illegal activity as per Sections 8 to 10 ECG.</p>
            </div>

            <div>
                <h3>Liability for Links</h3>
                <p>This website contains links to external websites operated by third parties. I have no control over the content of these external sites and therefore cannot assume any liability for such content. The respective provider or operator of the linked sites is always responsible for their content.</p>
            </div>

            <div>
                <h3>Copyright</h3>
                <p>The content and works published on this website, including photographs, are subject to Austrian copyright law. Duplication, editing, distribution, and any form of use outside the limits of copyright law require the prior written consent of the respective author or creator.</p>
            </div>

            <div class="space-y-2">
                <h3>Image Credits</h3>
                <p>The photographs used on this website are protected by copyright.</p>
                <ul class="list-inside list-disc">
                    <li>Photos by Aaron Josi Sternbauer</li>
                    <li>Photos of allerdings by Danae Papadimitriou</li>
                </ul>
                <p>If you become aware of any copyright infringement, please notify me. Upon becoming aware of legal violations, I will promptly remove such content.</p>
            </div>
        </div>

    </div>
</Layout>

<style>
    h3 {
        @apply text-lg mb-2
    }
</style>