---
import Layout from '../layouts/Layout.astro';
import { NAME } from "../constants";
import { Image } from 'astro:assets';
import ribbonRecordings from '../images/Ribbon-I-5.webp';
import { Icon } from 'astro-icon/components';

const title = 'Recordings - ' + NAME;
const description = "Recordings"; // TODO
---

<Layout title={title}, description={description}, current="information">
    <div class="container max-w-[1120px] flex flex-col mx-auto p-4">
        <Image src={ribbonRecordings} alt="Ribbon Recordings" />

        <h1 class="text-3xl lg:text-5xl font-bold mt-10 mb-8">Recordings</h1>

        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
            <div class="group relative">
                <div class="absolute inset-0 opacity-0 px-4 py-6 bg-black text-white group-hover:opacity-75 transition-opacity duration-300 ease-in-out">
                    <div class="text-sm tracking-widest">2018</div>
                    <div class="font-semibold text-xl mb-1">Musiche Migranti</div>
                    <div class="font-serif text-xs mb-4">Radici Music Records</div>
                    <div class="font-serif">Ihi (1'23'')</div>
                    <div class="font-serif">Dambatschekwa (2'15'')</div>
                    <div class="font-serif">Vhonani Zwidenzhe (2'10'')</div>
                    <div class="font-serif">Thula Thu' (1'58'')</div>
                    <div class="font-serif">Thungununu (2'28'')</div>
                </div>
                <img class="aspect-square object-cover" src="/images/recordings/Musiche-Migranti.webp" alt="Musiche Migranti CD cover">
            </div>

            <div class="group relative">
                <div class="absolute inset-0 opacity-0 px-4 py-6 bg-black text-white group-hover:opacity-75 transition-opacity duration-300 ease-in-out">
                    <div class="text-sm tracking-widest">2008</div>
                    <div class="font-semibold text-xl mb-1">Piano Music from four Continents</div>
                    <div class="font-serif text-xs mb-4">Vienna Modern Masters</div>
                    <div class="font-serif">Setude III (3'28'')</div>
                </div>
                <img class="aspect-square object-cover" src="/images/recordings/Piano-Music.webp" alt="Piano Music from four Continents CD cover">
            </div>

            <div class="group relative">
                <div class="absolute inset-0 opacity-0 px-4 py-6 bg-black text-white group-hover:opacity-75 transition-opacity duration-300 ease-in-out">
                    <div class="text-sm tracking-widest">2005</div>
                    <div class="font-semibold text-xl mb-1">Variazioni Climatiche</div>
                    <div class="font-serif text-xs mb-4">Velut Luna</div>
                    <div class="font-serif">Ihi (1'23'')</div>
                    <div class="font-serif">Thula, Sthandwa (1'46'')</div>
                </div>
                <img class="aspect-square object-cover" src="/images/recordings/Variazioni-Climatiche.webp" alt="Variazioni Climatiche CD cover">
            </div>
            
        </div>

    </div>
</Layout>