---
// Icons managed with astro-icon + icon package (@iconify-json/ph)
import { Icon } from 'astro-icon/components'
import type { CollectionEntry } from "astro:content";

const { composition } = Astro.props;

interface Props {
    composition: CollectionEntry<'compositions'>;
}
---

<div id="entry-item-1" class="font-serif">
    <a href={'/compositions/' + composition.slug} class="text-xl font-semibold mb-2 flex items-center space-x-2 hover:underline underline-offset-8">
        <span>{composition.data.title} ({composition.data.year})</span>
        <Icon name="ph:arrow-right" widths="20" x-height="20" />
    </a>
    <span class="italic text-lg">{composition.data.subtitle}</span>
</div>