---
import Layout from '../../layouts/Layout.astro';
import { NAME } from "../../constants";
import { Image } from 'astro:assets';
import ribbonAllerdings from '../../images/Ribbon-Allerdings.webp';
import { Icon } from 'astro-icon/components'

const title = 'allerdings - Project - ' + NAME;
const description = ""; // TODO
---

<Layout title={title}, description={description}, current="projects">
    <div class="container max-w-[1120px] flex flex-col mx-auto p-4">
        <Image src={ribbonAllerdings} alt="Ribbon allerdings" />

        <h1 class="text-3xl lg:text-5xl font-bold font-sans mt-10 mb-6">allerdings</h1>
        
        <div class="flex flex-col gap-4 text-base lg:text-lg font-regular font-serif mb-6 [&_a]:text-blue-800 [&_a]:underline [&_a]:underline-offset-4 hover:[&_a]:no-underline">
            <p>We work continuously on our performances, presenting them in various venues and contexts. This means that our performances are always transforming and mutating. We also develop new performances. We are especially interested in creating new contexts, for example in terms of social interaction, and showcasing the special nature of artists that are performing from their identities as people who are active in the field of Rhythmics (also called Eurythmics). The three members of allerdings form the organisational core of our performances, and we often collaborate with other artists, especially with artists who have studied Rhythmics in the Viennese tradition of music and movement education.</p>

            <!-- allerdings Photo Gallery -->
            <div id="allerdings-gallery" class="flex flex-row flex-wrap gap-4">
                <a
                    href="/images/projects/allerdings/allerdings-1.jpg"
                    data-pswp-width="3154"
                    data-pswp-height="2103"
                    data-cropped="true"
                    target="_blank"
                >
                    <img
                        class="aspect-square object-cover max-w-48"
                        src="/images/projects/allerdings/allerdings-1.jpg"
                        alt="Close-up of Hannes Taljaard's face"
                    />
                </a>

                <a
                    href="/images/projects/allerdings/allerdings-2.jpg"
                    data-pswp-width="3154"
                    data-pswp-height="2103"
                    data-cropped="true"
                    target="_blank"
                >
                    <img
                        class="aspect-square object-cover max-w-48"
                        src="/images/projects/allerdings/allerdings-2.jpg"
                        alt="Close-up of Hannes Taljaard's face"
                    />
                </a>

                <a
                    href="/images/projects/allerdings/allerdings-3.jpg"
                    data-pswp-width="3154"
                    data-pswp-height="2103"
                    data-cropped="true"
                    target="_blank"
                >
                    <img
                        class="aspect-square object-cover max-w-48"
                        src="/images/projects/allerdings/allerdings-3.jpg"
                        alt="Close-up of Hannes Taljaard's face"
                    />
                </a>

            </div>
            <div class="text-gray-500 text-xs font-sans">Click to view, right-click and then select 'Save As' to download.</div>

            <h2>Singing that moves -- Singen, das bewegt</h2>
            <p>We will visit the University in Stellenbosch, South Africa for three weeks in 
                March and April 2026 as part of an Erasmus+ exchange of the mdw 
                (University of Music and Performing Arts, Vienna). Two singing lecturers from the
            Salieri Institute of the mdw will also work with the South African students: 
            Johannes Geppert and Tania Aspelmeier. </p>
            <p>We will work mainly with singers on the potential of interaction and of working with(in) the overlaps
                and dialogues of music and movement. The focal point of our work
            will fall on rehearsing a staged version of several sections from <i>The Seven Deadly Sins</i> by Kurt Weill & Berthold Brecht.</p>
           
            <h2>Sing saam met my! (Sing with me!)</h2>
            <p>The centre of our performance are five songs composed by Hannes Taljaard, songs about the life world of children and parents. The words of the songs are in Afrikaans (a Germanic language that originated in South Africa), and the three members of <i>allerdings</i>, together with Alexander Okhotnikov (the other member of <a href="/projects/AMBO">AMBO</a>), created a performance that aims to let audience members who do not understand Afrikaans catch the meaning of the songs, also those aspects of meaning to goes beyond words. We interweave music (voice, piano, cello and harp), movement (acting and dancing), language, objects, visual input (and in later versions also film) into an uplifting performance that brings audience members into an empathic resonance with our own childhood experiences.</p>
            <p>The first performance of our version of four of the five songs took place on 19 November 2024 in the Alte Konzertsaal of the University of Music and performing Arts in Vienna.</p>
            <div class="text-blue-800">
                    <a href="/assets/Sing-saam-met-My_2024-11-19.pdf" class="group font-sans font-medium flex items-center w-fit space-x-2 text-blue-800 hover:underline underline-offset-8">
                    <span>Read More</span>
                    <Icon class="group-hover:translate-x-1 transition duration-300 ease-in-out" name="prime--arrow-right" />
                </a>
            </div>
             <p>More information on the composition <i>Sing saam met My!</i> can be found here, and
            the score can also be downloaded.</p>
            
            <p>We are working on the staged version of the one song that was not included in our first performance
            in November 2024. This song is <i>’n Lawwe Telrympie</i> (A silly Counting Rhyme). Part of our work on
            this project includes finding sponsorships so that we can work with an animation artist and a puppet
            maker, can finalise the staged versions of all five songs and can shoot a trailer that will be a short
            introduction to the whole performance.</p>
            
            <h2>Kleine Dinge (Small Things)</h2>
            <p>This is a movement-based and interdisciplinary exploration of how one perceives small, often intangible aspects of life, aspects that happen concurrently and cannot always be fully perceived. We tell stories about the small things in life through dance, music, movement and language, using tangible objects as well as intangible objects. Small moments line up, interweave and form an abstract world in which many things are possible and sometimes almost nothing happens. The atmosphere changes smoothly and each viewer’s experiences of an individual world of small things are supported during interactive moments with the audience. The different ways in which different expressions and characters interact, reflects the diversity and complexity of modern life. The audience members collect individual impressions and reflect on their own ways of perceiving.</p>
            <p>The first iteration of Kleine Dinge was presented in Luxembourg on 1 September 2025, the last day
            of a two-week residency sponsored by <a href="https://neimenster.lu/" target="_blank">Neimënster</a> (Centre Culturel de Rencontre Abbaye de
            Neimënster).</p>

            <h2>Warum! Darum? (Why! That is why?)</h2>
            <p>It’s always somebody else who decides… where I should go, what I should learn, what we will play,
            eat, think... What will happen if we all from now on just make all our decisions for ourselves?
            Decisions are everyday actions, and yet they are still somewhat strange.</p>
            <p>Two clowns and two musicians dive into a poetic and humorous world-without-words in which
            decisions become experiences through music, movement, objects and interactions. The possibilities of
            being together are explored by allowing experiences to be multifaceted. The audience is invited to
            imagine how it would be to decide when everyone wants to decide at the same time, or when nobody
            wants to.</p>
            <p>Music, movement and clowning unites in a performance that sheds light on self-determination,
            contrasts, living together, compromise and trust.</p>
            <p>Clowns: Caterina Vögl & Emilia Forck</p>
            <p>Musicians: Antonia Luksch & Hannes Taljaard</p>

            <h2>City of Birds</h2>
            <p>Under this title we group various improvisations which have one restriction in common: sounds are
            produced by different objects that come into contact with musical instruments (or other objects) that
            are made of metal. We are exploring layers of soft, intricate sounds. The improvisations are also
            characterised by the fact that our sound improvisations are more elaborate (and more in the
            foreground) than our movement improvisations. City of Birds can be performed by various ensembles
            in various contexts and formats.</p>

            <h2>Petrushka</h2>
            <p>How can we enable children to experience complex music through their own embodied understanding
            of music and movement?</p>
            <p>For this project allerdings is cooperating once again with Alexander Okhotnikov, and also with two
            pianists, György Handl and Andrés Añazco in order to present interactive concerts based on the
            arrangement for piano four hands by Igor Stravinsky of his ballet <i>Petrushka</i>. To prepare for the
            interaction during concerts, allerdings and Alexander Okhotnikov work with children (eight to ten
            years old) in schools. We work with excerpts from Stravinsky’s composition, with new arrangements
            by Hannes Taljaard of melodies taken from Petruhska, and with dances which we developed specially
            for these melodies. During these workshops in the schools we employ our training and experience as
            music-and-movement-educators.</p>

            <h2>Unsichtbare Koffer (Invisible Suitcase)</h2>
            <p>This performance takes the form of a session (50 to 75 minutes) that aims to sensitize perception, and stimulate interaction among maximum twenty participants whose interaction is based upon aspects of their life-world that they voluntarily and imaginatively share into the process. The session structures performances by the participants: starting by moving through space while being supported by our improvisations, passing through the participants’ producing sounds on various suitcases (and later on various objects) into an improvisation in sound and movement that rounds of the session.</p>

            <h2>Da wär noch was… (There was still something...)</h2>
            <p>How can topics that are relevant to society and that live in the hearts and minds of a silent generation be presented? How can people living in retirement have the chance to say and to show these topics? Our process starts with works created by artists whose professional careers have already ended, and goes through collaborative workshops in music and movement, presented at old age homes in Vienna. Each workshop ends in a transdisciplinary public performance in which the residents of the old age home participate, with people living in the same part of the city as audience. During the last phase of the project, a public performance is presented which takes as basic material all of the performances with the residents of the old age homes.</p>
      
        <h2 class="-mb-4">2025</h2>
            <h2>Artist Residency – Niemënster, Luxembourg (Die kleine Dinge)</h2>
            <div class="text-gray-500 text-sm -mt-2">18 August 2025 – 1 September 2025</div>
            <p>During the two-week residency at <a href="https://neimenster.lu/" target="_blank">Neimënster</a>  in Luxembourg we work on exploring and synthesising
            our ideas into a performance on 1 September in order to suggest various answers to the question: How
            much life is contained in meaningful objects?</p>
            <p>A workshop during the second week is an exploration (together with participants in the audience) of
            fragments of life that slumber within specific objects. Stories, memories, and emotions associated
            with small objects become starting points for collaborative expression through music, movement and
            language. For two hours everybody involved immerse themselves in a sensitive, artistic process.
            Experiences of the effects of movement and music create spaces for encounters and connections,
            which are triggered by the impulses of small objects which participants bring to the workshop and
            which contain personal meanings or memories</p>
        </div>
    </div>
</Layout>

<style>
    h2 {
        @apply mt-6 text-xl lg:text-2xl font-semibold font-sans
    }
</style>

<script>
    import PhotoSwipeLightbox from "photoswipe/lightbox";
    import "photoswipe/style.css";

    const lightbox = new PhotoSwipeLightbox({
        gallery: "#allerdings-gallery",
        children: "a",
        pswpModule: () => import("photoswipe"),
    });

    lightbox.init();
</script>