---
import Layout from "../../layouts/Layout.astro";
import { NAME } from "../../constants";
import { Image } from "astro:assets";
import ribbonAMBO from "../../images/Ribbon-AMBO.webp";
import { Icon } from "astro-icon/components";

const title = "AMBO - Project - " + NAME;
const description = ""; // TODO
---

<Layout title={title} , description={description} , current="projects">
    <div class="container max-w-[1120px] flex flex-col mx-auto p-4">
        <Image src={ribbonAMBO} alt="Ribbon AMBO, hands form Hannes Taljaard and Aleksandr Okhotnikov on a piano keyboard" />

        <h1 class="text-3xl lg:text-5xl font-bold font-sans mt-10 mb-6">AMBO</h1>

        <div class="flex flex-col gap-4 text-base lg:text-lg font-regular font-serif mb-6 [&_a]:text-blue-800 [&_a]:underline [&_a]:underline-offset-4 hover:[&_a]:no-underline">
            <p>
                <b>AMBO</b> is for us a vehicle for exploring; it is a search, something
                like an experiment; maybe it is the creation of a path. We explore
                the potential of our skills as pianists, movement artists, singers
                and composers, and we experiment with various other skills that we
                acquired during our studies in Vienna. We continuously search by
                formulating questions to help us understand our motivation: what
                is possible with our skills? what kinds of performances can we present?
                how can we create socially relevant interactions with our audience?
                Our aim is to let the format of a performance remain undecided and
                then shape the format when we have clarified our intentions. We hope
                to create contexts, and to not unthinkingly recreate concert formats
                of the past. We want to create an artistic path that is unique in
                some ways.
            </p>

            <p>
                Alexander Okhotnikov and Hannes Taljaard met in the autumn of
                2021 as students at the University of Music and performing Arts
                in Vienna. For two years one of us occasionally experienced the
                other perform as musician or movement artist. The first
                opportunity to cooperate in a project came in autumn of 2023
                with the project ‘Ausgelöscht’: the preparation and presentation
                of two movement studies which were shaped by the collaborate
                music analytical actions of an ensemble of ten members. More
                projects followed in 2024, and this gave us the possibility to
                try out ideas and roles in various groups. During these projects
                we realised that our overlapping interests and our common
                training in Vienna contrasted well with our very different
                backgrounds, ideas and temperaments. The field of tension
                created by the overlaps and contrasts is one of the engines that
                drive our cooperation.
            </p>

            <!-- AMBO Photo Gallery -->
            <div id="ambo-gallery" class="flex flex-row flex-wrap gap-4">
                <a
                    href="/images/projects/ambo/AMBO-11.jpg"
                    data-pswp-width="3543"
                    data-pswp-height="2362"
                    data-cropped="true"
                    target="_blank"
                >
                    <img
                        class="aspect-square object-cover max-w-48"
                        src="/images/projects/ambo/AMBO-11.jpg"
                        alt="Close-up of Hannes Taljaard's face"
                    />
                </a>

                <a
                    href="/images/projects/ambo/AMBO-12.jpg"
                    data-pswp-width="2362"
                    data-pswp-height="3543"
                    data-cropped="true"
                    target="_blank"
                >
                    <img
                        class="aspect-square object-cover max-w-48"
                        src="/images/projects/ambo/AMBO-12.jpg"
                        alt="Close-up of Hannes Taljaard's face"
                    />
                </a>

                <a
                    href="/images/projects/ambo/AMBO-13.jpg"
                    data-pswp-width="3543"
                    data-pswp-height="2362"
                    data-cropped="true"
                    target="_blank"
                >
                    <img
                        class="aspect-square object-cover max-w-48"
                        src="/images/projects/ambo/AMBO-13.jpg"
                        alt="Close-up of Hannes Taljaard's face"
                    />
                </a>

                <a
                    href="/images/projects/ambo/AMBO-14.jpg"
                    data-pswp-width="3543"
                    data-pswp-height="2362"
                    data-cropped="true"
                    target="_blank"
                >
                    <img
                        class="aspect-square object-cover max-w-48"
                        src="/images/projects/ambo/AMBO-14.jpg"
                        alt="Close-up of Hannes Taljaard's face"
                    />
                </a>

                <a
                    href="/images/projects/ambo/AMBO-15.jpg"
                    data-pswp-width="3543"
                    data-pswp-height="2362"
                    data-cropped="true"
                    target="_blank"
                >
                    <img
                        class="aspect-square object-cover max-w-48"
                        src="/images/projects/ambo/AMBO-15.jpg"
                        alt="Close-up of Hannes Taljaard's face"
                    />
                </a>
            </div>
            <div class="text-gray-500 text-xs font-sans">Click to view, right-click and then select 'Save As' to download.</div>

            <!-- -mb-4 - a solution to reduce the gap from the parent div - maybe another solution would be more elegant -->
            <h2 class="-mb-4">2025</h2>
            <h2>Artistic Research with eurythmics – interweaving of practice and theory</h2>
            <div class="text-gray-500 text-sm -mt-2">29 July 2025</div>
            <p>As the start of a ninety minute session at the Seventh International Conference of Dalcroze Studies at
            the University of Luxembourg (ICDS VII), AMBO presents a workshop based upon our ongoing
            work in a project at the University for Music and Performing Arts Vienna (mdw), a project that
            involves structured improvisations with music and movement in artistic contexts. Although there are
            many facets to our work in this project, this workshop focuses on how we shape rehearsal processes
            based partly upon ‘Aural Sonology’, an approach to sound analysis developed in Oslo under the
            leadership of Lasse Thoresen (<a href="https://www.auralsonology.com" target="_blank">https://www.auralsonology.com</a>). We show how this systematic
            framework of concepts can be employed to understand and structure collaborative processes of
            generating sound and movement events and shaping these events into improvisatory performances
            through participatory sense-making and oscillating agency</p>
            <p>After our workshop and linked to it, Prof. Stephanie Schroedter (Artistic Research Centre, mdw)
            presents a paper that reflects on the fact that people perceive and understand music (spontaneously
            and intuitively) as movement. She answers questions on topics such as artistic means within the field
            of eurythmics and implications of insights from the field of enactive cognition for understanding
            listening and theory-building</p>

            <h2>Into piano improvisation – from movement over interaction</h2>
            <div class="text-gray-500 text-sm -mt-2">Februay & March 2025</div>
            <p>During our four week tour in South Africa in February and March 2025, we presented workshops in
            piano improvisation at four universities and one secondary school. We worked mostly with groups of
            four to six participants, and once with a group of thirty-two participants. For these workshops we
            crystallised our work into four different types of workshops (or ‘modules’), types that are determined
            by the starting points of the multifaceted artistic-didactic processes that we initiate and guide:</p>
            <p>* Simple musical material that enables musicians to manage the cognitive load of
            improvisation: an example is the use of specific classes of intervals to generate a variety of
            textures and interactions</p>
            <p>* Picture cards that organise a narrative line that is expressed first in silent actions and then in
            interactive movement accompaniment of the narrative actions</p>
            <p>* Tactile exploration of the characteristics of objects translated into movements and then into
            characteristics of sounds</p>
            <p>* Nonsense language that dramatizes interaction between group members, and the subsequent
            and immediate translation of this dramatized interaction into ensemble improvisation</p>
            <p>With these workshops we aimed to give musicians impulses for developing as improvisers – to those
            who start out, and for those who already have some experience with improvisation. We aimed to
            enable participants to experience how sound patterns and movement patterns can shape one’s learning
            how to improvise in interaction with others.</p>
            <p>Alexander Okhotnikov wrote a dissertation on feedback he received from the participants who
            reflected on the ways that the experiences of movement influenced their improvisations. An English
            summary of this document can be downloaded <a href="/assets/AO_Bachelorarbeit_Impro_SUMMARY.pdf" target="_blank">here</a>.</p>


            <!-- -mb-4 - a solution to reduce the gap from the parent div - maybe another solution would be more elegant -->
            <h2 class="-mb-4">2024</h2>
            <h2>Sing saam met my! (Sing with me!)</h2>
            <div class="text-gray-500 text-sm -mt-2">19 October 2024 – 19 November 2024</div>
            <p>
                For this performance AMBO merged with allerdings to present
                dramatised versions of four songs composed by Hannes Taljaard.
                The cycle with the title Sing saam met My! (Sing with me!) has
                texts in Afrikaans, a Germanic language that developed in South
                Africa. With our performance we aimed to experiment with the
                artistic potential of our skills in a multicultural process. We
                specifically wanted to immerse our (mostly German speaking)
                audience into the world that the songs present, an audience who
                cannot rely on a printed translation. We realised that singing
                songs of which the words have been translated often diminishes
                the authenticity and power of the original artistic intention.
                And we also realised that singing the songs in their original
                language when this language is not understood by most or even
                all audience members, will most likely diminish the audience’s
                experience of the songs. So, the four of us came up with various
                solutions to the conundrum by experimenting with the tools of
                our trade: music, movement, objects and language. Our
                performance was the last work of a concert titled Moving Voices
                that took place on 19 November 2024 in the Neue Konzertsaal of
                the University for Music and performing Arts, Vienna. We plan to
                work on further versions of this performance, and hope that this
                work will become a part of our repertoire for several more
                years.
            </p>

            <h2>Arena Caliente</h2>
            <div class="text-gray-500 text-sm -mt-2">7 October 2024</div>
            <p>
                A composition by Alexander for two pianos were performed at a
                concert in the Haydnsaal of the University for Music and
                Performing Arts, Vienna. <b>AMBO</b> opened the concert with a flash,
                presenting ourselves as a ‘standard’ two piano duo. However, we hoped
                that the two different kinds of dances on which the composition is
                based, would hint – at least to those who knew who we were – at our
                other roles as movement artists. Judging by the reaction of the audience,
                an experience of music as movement was created. We plan to keep this
                composition in our repertoire as our ‘show stopper’.
            </p>

            
            <h2>Into piano improvisation – from movement, over interaction</h2>
            <div class="text-gray-500 text-sm -mt-2">21 July 2024</div>
            <p>
                <b>AMBO</b> presented a short workshop for pianists who were attending
                the <a href="https://arte-piano.com/" target="_blank">International Artepiano Festival</a>
                in Castelnuovo del Farfa in Italy. We experimented with some of
                the many ways into improvisation, and construed our workshop on the
                basis of our experiments. The way that we introduced in Castelnuevo
                took specific movements that form a foundation to help musicians
                learn rhythmic patterns, and that carry information about sound structures,
                for example information about categories of pitch collections, as
                well as phrases and melodic contours. The movements were embedded
                in various forms of social interaction and musical listening. We
                also took the manipulation of a divcerse collection of objects, combined
                with social interaction as the input for improvisations at the piano.
                This ensured that improvisation happened as an ensmble activity,
                together with other musicians, and contributed to creating a joyful,
                aesthetic experience and a rather stress free process.
            </p>
            <div class="text-blue-800">
                <a href="/assets/AMBO-in-Castelnuovo.pdf" class="group font-sans font-medium flex items-center w-fit space-x-2 text-blue-800 hover:underline underline-offset-8">
                    <span>Read More</span>
                    <Icon class="group-hover:translate-x-1 transition duration-300 ease-in-out" name="prime--arrow-right" />
                </a>
            </div>

            <h2>Internationale Rhythmik Woche Wien</h2>
            <div class="text-gray-500 text-sm -mt-2">8 – 11 July 2024</div>
            <p>
                <b>AMBO</b> worked as assistants in Vienna for a Eurythmics practitioner
                from Stockholm, Eva Wedin, who presented four workshops (each lasting
                two hours) on her ways of teaching Eurythmics. As duo, we performed
                (piano duo and vocals) several compositions that formed part of the
                workshops, and participated in movement phases in order to facilitate
                interaction between participants and support Eva’s teaching.
            </p>
        </div>
    </div>
</Layout>

<style>
    h2 {
        @apply mt-6 text-xl lg:text-2xl font-semibold font-sans;
    }
</style>

<script>
    import PhotoSwipeLightbox from "photoswipe/lightbox";
    import "photoswipe/style.css";

    const lightbox = new PhotoSwipeLightbox({
        gallery: "#ambo-gallery",
        children: "a",
        pswpModule: () => import("photoswipe"),
    });

    lightbox.init();
</script>