---
import { SITE_TITLE, SITE_DESCRIPTION } from "../constants";
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

// Fonts added and managed via https://fontsource.org/
// Supports weights 400-700
import '@fontsource-variable/lora';
// Supports weights 400-700
import '@fontsource-variable/lora/wght-italic.css';
// Supports weights 100-900
import '@fontsource-variable/montserrat';
// Supports weights 100-900
import '@fontsource-variable/montserrat/wght-italic.css';

// Activate if you want to have the props necessary on each page
interface Props {
	title: string;
	description?: string;
	current?: string;
}

const { title, description, current } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		
		<!-- <div class="w-[1120px] mx-auto"> -->
			<Header current={current} />
			<main>
				<slot />
			</main>
			<Footer />
		<!-- </div> -->
		
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		/* font-family: system-ui, sans-serif; */
		background: #13151a;
		background-size: 224px;
	}
	/* code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	} */
</style>
<script is:inline src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js"></script>